* {
    padding-left: 14px;
    margin: 0;
    margin-top: 10px;
    font-family: Poppins;

}
i{
    color: #0C8BFD;
}
body{
    background-color: black;
}
i{

}
.li-nav {
    cursor: pointer;
    display: flex;
    gap: 30px;
    list-style: none;
    color: rgb(184, 183, 183);
    align-items: center;
}

.logo {
    flex-basis: 300px;

}
.btn >button{
    
    border: none;
    color: white;
    font-size: large;
    width: 107px;
        padding: 13px;
        padding-left: 24px;
        padding-right: 24px;
        top: 25px;
    position: absolute;
    right: 60px;
    background-color: #0C8BFD;
    border-radius: 50px;
}


/* hero Section */
.h-button{
    margin-top: 40px;
    display: flex;
}
.h-font{
    font-size: 65px;
    font-weight: 600;
    line-height: 1.2;
}

.hero{
    padding-top: 40px;
    color: white;
    display: flex;
    gap: 20px;
}

.h-para{
    font-size: 22px;
    margin-top: 44px;
    line-height: 1.2;
    color: rgb(159, 158, 158);
}

.g-button>button{
    border: none;
        color: white;
        font-size: large;
        width: 154px;
        padding: 13px;
        padding-left: 24px;
        padding-right: 24px;
        top: 25px;
        
        right: 60px;
        background-color: #0C8BFD;
        border-radius: 50px;
}

.t-button>button {
    border:2px solid rgb(95, 95, 95);
    color: rgb(139, 138, 138);
    font-size: large;
    width: 170px;
    padding: 13px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: black;

    right: 60px;
    
    border-radius: 50px;
}

 /* After main Logo Section */

 .m-logo{
    background-color: #262626;
        display: flex;
        gap: 100px;
        justify-content: center;
        padding: 19px;
        margin-left: -29px;
 }


 /* Features and Facilities */
 .facilities{
    padding-top: 166px;
    text-align: center;
    background-color: white;
    margin-left: -29px;
    margin-top: -9px;
 }

 .facilities p:first-child{
    font-size: 50px;
    font-weight:500;
 }
  .facilities p:nth-child(2) {
    color: #696868;
  }
  .facilities p:nth-child(3) {
    color: #696868;
    
  }

  .facili{
    margin-top: 125px;
    display: flex;
    justify-content: center;
    gap: 60px;

  }

  .facili div p {
    line-height: 1;
    color: #696868;

  }
  .ran{
    margin-top: 18px;
  }

  .facili1, .facili2, .facili3{
        padding-top: 13px;
        padding-bottom: 60px;
            padding-right: 19px;
    border: 1px solid black;
    text-align: center;
    border-radius: 30px;
  }
    .facili2{
        margin-top: -40px;
        margin-bottom: 40px;
        background-color: black;
        color: white;
    }
  .faster{
    font-size: 24px;
    font-weight: bold;


  }
  
  .ready{

    padding-left: 98px;
        padding-top: 130px;
        background-color: white;
        margin-left: -43px;
        margin-top: -12px;
        font-size: 26px
  }