.logo{
    margin-top: -0.5%;
    flex-grow: 0.1;
    
    
}
.logo img{
max-width: 150px;
    height: px;
}
.F_nav{
    margin-left:-2.5%;
    padding-top: 25px;
}
.F_nav ul{
    display: flex ;
    gap: 50px;
    justify-content: center;
}

.outLine{
    outline: none;
    margin-top: 6px;
   
}
.nav_input{
     border: 1px solid black;
     height: 43px;
     width: 50%;
     border-radius: 5px;
     font-weight: 500;
}

.nav_input img{
     display: inline;
     width: 20px;
     margin-left: 10px;
}
.nav_input input{
     display: inline;
     margin-left: 20px;
     
     
}

.nav_button button{
     background-color: #5a4bda;
     padding-left: 30px;
     padding-right: 30px;
     /* padding-top: 10px; */
     /* padding-bottom: 10px; */
     font-weight: 500;
     font-size: 1.1rem;
     border-radius: 5px;
     color: white;
     width: 120%;
     height: 40px;
     margin-top: 1%;     
}


