*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    max-width: 1440px;
    background-color: #F0F4F5;
    margin: auto; /* Auto */
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.leftsection h1{
    /* font-family:  url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Roboto:wght@500;900&display=swap'); */
    font-weight: bold;
    line-height:90px ;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: #1FAA59;
}

/* Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.leftsection{
    margin-left: 5%;
    position: relative;
}

.topangle{
    width: 25px;
}

.leftsection h1{
    font-size: 70px;
}

.leftsection p {
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -60px;
    right: -154px;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom :32px;
    width: 30px;
}

.leftsection button{
    color: white;
    background-color:#1FAA59;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 20px;
        font-weight: bold;
            font-size: 32px;
}

/*  Right Side */
.greenbox,  .yellowbox{
    position: absolute;
    
        width: 34%;
    bottom: 36px;
    right: 12px;
}
.greenbox{
    width: 34%;
    bottom: 28px;
        right: 20px;
}
.yellowbox{
    width: 30%;
    bottom: 50px;
    right: 0;
}


.doctor{
    position: absolute;
    right: 61px;
    bottom: 0;
    height: 90%;
}